.starship-card{
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden;
}
.starship-header{
    height: 50px;
    background-color: #fec625;
    display: flex;
    justify-content: center;
}
.starship-categories{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px 0;
}
.starship-image{
    opacity: .6;
}
.button{
    display: flex;
    flex-direction: row;
    padding:10px;
    margin:15px;
    justify-content: space-between;
    background-color: #fec625;
    border-radius: 5px;
    border:none;
}

.button:focus{
    background-color: tomato;
}